@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #f6685e;
    --secondary-color: #241a71;
    --third-color: #000000;
    --fourth-color: #ffffff;
    --fifth-color: #ffddd2;
    --main-accent: #e9eefd;
    --main-text: #4b5876;
    --shadow: rgba(17, 17, 26, 0.1) 2px 2px 16px;
}

body{
    background-image: url('BADMINTON/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#menu-toggle{
    display: none;
}

#menu-toggle:checked ~ .sidebar{
    left: 0;
}

#menu-toggle:checked ~ .main-content{
    margin-left: 345px;
    width: calc(100vw - 345px);
}

#menu-toggle:checked ~ .main-content .account-setting{
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-avartar img{
    width: 100%;
    height: auto;
}

.sidebar{
    width: 345px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 1.2rem;
    transition: left 300ms;
    overflow: hidden;
    left: -345px;
}

.sidebar-container{
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    box-shadow: var(--shadow);
    padding: 1.2rem;
    overflow-y: auto;
}

.sidebar-container::-webkit-scrollbar {
    width: 10px;
}

.sidebar-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
.sidebar-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}
  
.sidebar-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.brand h2 a {
    color: var(--primary-color);
    margin-left: 3.0rem;
    font-size: 2.5rem;
}
  
  .brand h2 span {
    color: var(--secondary-color);
    display: inline-block;
}

.sidebar-avartar{
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center;
    border: 2px solid var(--main-accent);
    padding: .1rem .7rem;
    border-radius: 7px;
    margin: 2rem 0rem;
}

.logo{
    width: 100%;
    position: absolute;
    margin-top: -43%;
    margin-left: -30%;
}
  
  .header-title .logo{
    width: 18%;
    margin-top: -125px;
    margin-left: -4%;
}

.avartar-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-menu li{
    margin-bottom: 6px;
}

.sidebar-menu a{
    color: var(--main-text);
    display: block;
    padding: .7rem 0rem;
}

.sidebar-menu a.active{
    background: var(--main-accent);
    padding: .7rem;
    border-radius: 7px;
}

.sidebar-menu a span:first-child{
    display: inline-block;
    margin-right: .8rem;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.sidebar-menu li:hover{
    border-left: 1px solid #fff;
}

.social_media{
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.social_media i{
    text-decoration: none;
    padding: 0 5px;
    color: var(--main-text);
    opacity: 0.6;
    font-size: 20px;
}

.social_media i:hover{
    opacity: 1;
    transition: all 0.2s linear;
    transform: scale(1.01);
}

.main-content{
    justify-content: space-between;
    width: 100vw;
    padding: 1rem 1.2rem;
    padding-right: 2rem;
    transition: margin-right 300ms;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
}

.header-title-wrapper{
    display: flex;
}

.header-title-wrapper label{
    display: inline-block;
    color: var(--secondary-color);
    margin-right: 2rem;
    font-size: 1.8rem;
}

.header-title h1{
    color: var(--primary-color);
    font-weight: 600;
}

.header-title h1 span{
    color: var(--secondary-color);
    font-weight: 600;
}

.header-title a, p{
    color: #666;
    font-size: .9rem;
}

.header-title a:hover{
    color: var(--primary-color);
}

main{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section-title {
    margin-bottom: 5px;
}
  
.section-title h1 {
    justify-content: center;
    text-align: center;
}

.account-setting{
    height: 78vh;
    width: 75%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: var(--shadow);
    margin-left: auto;
    margin-right: auto;
}

.leftbox{
    display: block;
    background-color: #ffddd2;
    width: 30%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    overflow-y: auto;
    overflow-x: hidden;
}

.profile-pic-div{
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgb(228, 220, 220);
    margin: 30px auto;
}

#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

.setting-menu li{
    margin-bottom: 6px;
    cursor: pointer;
}

.setting-menu a{
    color: var(--main-text);
    display: block;
    padding: .7rem 0rem;
}

.setting-menu a.active{
    background: var(--fourth-color);
    padding: .7rem;
    border-radius: 7px;
}

.setting-menu a i:first-child{
    display: inline-block;
    margin-right: .8rem;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.setting-menu li:hover{
    border-left: 1px solid #ffddd2;
}

.rightbox{
    width: calc(100% - 30%);
    height: 100%;
    padding: 20px;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabShow{
    display: block;
    transition: all .5s ease-in;
    width: 100%;
    margin: 20px;
}

.tabShow h1{
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.tabShow h2{
    color: var(--third-color);
    letter-spacing: 1px;
}

.tabShow .specialh2{
    margin-top: 20px;
}

.tabShow h4{
    color: var(--main-text);
    letter-spacing: 1px;
    margin-top: 3px;
}

.tabShow p{
    width: 80%;
    color: #070707;
    text-align: justify;
}

.formBox{
	position: relative;
	display:flex;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 30px;
}

.formBox .inputBox{
	position: relative;
	margin-bottom: 30px;
}

.formBox .inputBox.w50{
	width: 50%;
}

.formBox .inputBox.w100{
	width: 100%;
}

.password .formBox .inputBox.w100{
	width: 80%;
}

.formBox .inputBox.select{
    width: 50%;
}

.formBox .inputBox label{
	font-size: 12px;
}

.formBox .inputBox input,
.formBox .inputBox textarea{
	width: 100%;
	resize: none;
	padding: 5px 0;
	font-size: 18px;
	font-weight: 300;
	color: #333;
	border: none;
	outline: none;
	border-bottom: 1px solid #777;
}

.formBox .inputBox textarea{
	height: 80px;
}

.formBox .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	pointer-events: none;
	font-size: 18px;
	font-weight: 300;
	transition: 0.3s;
}

.formBox .inputBox input:focus ~ span,
.formBox .inputBox input:valid ~ span,
.formBox .inputBox textarea:focus ~ span,
.formBox .inputBox textarea:valid ~ span{
	transform: translateY(-20px);
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
    color: var(--third-color);
}

.formBox .inputBox input[type="submit"]{
	position: relative;
	cursor: pointer;
	background: #ff5003;
	color: #fff;
	border: none;
    border-radius: 10px;
	max-width: 100px;
    padding: .5rem;
}

.formBox .inputBox input[type="submit"]:hover{
	background: var(--secondary-color);
}

.onoffbox{
    display: grid;
    grid-template-columns: 35rem 2.5rem .2rem;
    grid-gap: 5px;
}

.onofftoggle{
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    height: 23px;
    background: #444;
    border-radius: 30px;
    transition: 0.3;
}

.onofftoggle .onofftoggle-button{
    position: relative;
    top: 2.5px;
    left: 2.5px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3;
}

.onofftoggle.active{
    background-color: cornflowerblue;
}

.onofftoggle.active .onofftoggle-button{
    left: 20px;
}

.onofftext{
    position: relative;
    font-size: 15px;
}

.leftbox::-webkit-scrollbar,
.rightbox::-webkit-scrollbar {
    display: none;
}

.leftbox::-webkit-scrollbar-track,
.rightbox::-webkit-scrollbar-track {
    display: none;
}
   
.leftbox::-webkit-scrollbar-thumb,
.rightbox::-webkit-scrollbar-thumb {
    display: none;
}
  
.leftbox::-webkit-scrollbar-thumb:hover,
.rightbox::-webkit-scrollbar-thumb:hover {
    display: none;
}

@media screen and (max-width: 1300px){
    .onoffbox{
        display: grid;
        grid-template-columns: 20rem 2.5rem .2rem;
        grid-gap: 5px;
    }
}


/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.footer{
	font-family: poppins;
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	background: lightgray;
	padding: 50px 100px;
	justify-content: space-between;
	flex-flow: wrap;
    z-index: -1;
}

.footer-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

.footer-about{
	margin-right: 30px;
	width:35%;
	text-align: justify;
	text-justify: inter-word;
}

.footer h2{
	position: relative;
	color: black;
	font-weight: 500;
	margin-bottom: 15px;
}



.footer p{
	color: black;
    
}

.quicklinks{
	position: relative;
	width: 25%;
}

.quicklinks ul li a{
	color:black;
	margin-bottom: 10px;
	display: inline-block;
}

.quicklinks ul li a:hover{
	color:#fff;
}

.sec-contact{
	width: (35%-60px);
	margin-right: 0 !important;
}

.info{
	position: relative;
}

.info li{
	display: flex;
	margin-bottom: 16px;
}

.info p:hover{
	color: #fff;
}

.info li i {
  font-size: 20px;
  color: black;
  float: left;
  background:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 20px;
 }
 
 .info li a{
	 color: black;
 }
 
 .info a:hover{
	 color: black;
 }
 
 @media (max-width: 991px){
	.footer{
		padding: 40px;
	}
	.footer-container{
		flex-direction: column;
	}
	.footer-about, .quicklinks, .contact{
		margin-right: 0;
		margin-bottom: 40px;
		width: 100%;
	}
}


.background{
    background-image: url('image/bg41.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }